<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/artists">Artists</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="/upcoming">Upcoming</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="/events">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/venues">Venues</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/favorites">Favorites</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/edit">Edit Profile</a>
        </li>
      </ul>
      <div class="d-flex">
        <h3 style="color: white;">Welcome, <%= user.fname %>!</h3>
        <p class="text-dark">lol</p>
        <!-- <a class="btn btn-danger" href="/login" type="submit">Login</a> -->
        <p class="text-dark">l</p>
        <!-- <a class="btn btn-danger" href="/signup" type="submit">Sign Up</a> -->
        <a class="btn btn-danger" href="/logout" type="submit">Logout</a>
      </div>
    </div>
  </div>
</nav>